.background{
    background-image: url(kidney_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.4;
}

.kidney-text{
    font-size: 50px;
    text-align: center;
    padding-top: 200px;
}

.nav-1{
    flex: 1;
    text-align: right;
    font-size: 30px;
    cursor: pointer;
}

li{
    list-style: none;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
    cursor: pointer;
}

li a{
    color: black;
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;
}

li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
    cursor: pointer;
}

li:hover::after{
    width: 100%;
    cursor: pointer;
}

.container{
    width: 100%;
    height: 130px;
    padding: 0px;
    margin: 0px;
    background-color: #E26868;
}

.pred-text{
    margin-top: -6px;
    font-size: 40px;
    text-align: center;
    color: #EDEDED;
}

.pred{
    font-size: 25px;
    margin-top: -25px;
    text-align: center;
    color: #EDEDED;
}

select{
    width: 300px;
    height: 40px;
}

.form-class{
    margin-top: 30px;
    margin-left: 40%;
}

.text{
    width: 300px;
    height: 40px;
}

body{
    background: #E3F2FD;
}

